{% extends 'index.html' %}

{% block body %}

<div class="container" id=myrow>
    <div class="row">
        <pre>
            Welcome to this Image Processing Web App with a Machine Learning Model in Flask
                What I used and did in this project
                - Skimage
                - Data Pre-processing
                - Feature Extraction
                · A Machine Learning Model
                - Pipeline Model
                - Flask App
                - Deployment

        </pre>
    </div>
</div>
<style>
    #myrow{
        background-color:#EBEDEF;
    }

</style>
{% endblock  %}